<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="ArmHardwareInterface" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>

            <!--plugin>my_robot_firmware/HardwareInterfacePCA9685_arm</plugin>
                <param name="joint1_servo_channel">2</param>
                <param name="joint2_servo_channel">3</param>
                <param name="pwm_min_microSec">600</param>
                <param name="pwm_max_microSec">2400</param-->
        </hardware>
        <joint name="arm_joint1">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="arm_joint2">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>
